body{
    background:#020b20;
    font-family:Arial,sans-serif;
    color:white;
    padding:40px;
}

.admin-panel{
    max-width:1000px;
    margin:auto;
}

.admin-panel h1{
    color:#00bfff;
    text-align:center;
}

.admin-card{
    background:#08152d;
    padding:14px 20px;
    border-radius:15px;
    margin:8px 0;
    box-shadow:0 0 15px rgba(0,191,255,.2);
}

.admin-card h2{
    color:#00bfff;
}

.admin-card a{
    display:block;
    color:white;
    text-decoration:none;
    padding:10px;
    margin:10px 0;
    background:#00bfff;
    color:black;
    border-radius:8px;
    font-weight:bold;
}

textarea{
    width:100%;
    height:150px;
    border:none;
    border-radius:10px;
    padding:15px;
}

button{
    margin-top:15px;
    background:#00bfff;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}
.developer-box{
    text-align:center;
    margin-bottom:30px;
}

.developer-box img{
    width:120px;
    height:120px;
    border-radius:50%;
    border:3px solid #00bfff;
}

.verified{
    color:white;
    background:#0a66c2;
    border-radius:50%;
    padding:2px 8px;
}
.stats{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:30px;
}

.stats div{
    background:#08152d;
    padding:15px 25px;
    border-radius:10px;
}